<div class="margin-all">

    <div class="container">
        <div class="top-content">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="#"><i class="fas fa-home"></i> Home</a>
                        <a class="nav-item nav-link" href="#"><i class="far fa-envelope"></i> Message</a>
                        <a class="nav-item nav-link" href="#"><i class="fas fa-star"></i> WishList</a>
                        <a class="nav-item nav-link" href="#"><i class="fas fa-cog"></i> Settings</a>
                        <a class="nav-item nav-link" href="#"><i class="fas fa-user"></i> My account</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="grid">
            <div class="sidebar">
                <img src="assets/img/logo.png">
                <span>
                     
                     <p><i class="far fa-lightbulb mb-3 mt-2"></i> Smart Filters</p>
                </span>
                <div class="border"></div>

                <div class="botones">
                    <span class="size-icons-sidebar ">
                        <i class="fas fa-save icons-sidebar" ></i>
                    </span>
                    <label class="switch" style="margin-top: 14px;">       
                        <input type="checkbox" checked>
                        <span class="slider round"></span>       
                    </label>

                    <span class="size-icons-sidebar">
                        <i class="fas fa-calendar-check icons-sidebar" ></i>
                    </span>
                    <label class="switch" style="margin-top: 14px;">       
                        <input type="checkbox" checked>
                        <span class="slider round"></span>        
                    </label>


                    <span class="size-icons-sidebar">
                        <i class="far fa-heart icons-sidebar"></i>
                    </span>
                    <label class="switch" style="margin-top: 14px;">       
                        <input type="checkbox" checked>
                        <span class="slider round"></span>                
                    </label>
                </div>
                <div class="border"></div>
                <div class="content-bottom">
                    <p class="mt-1 mb-2">Status</p>
                    <input class="transparent" type="text" placeholder="search">
                    <button class="boton">Delivered</button>
                </div>
                <div class="border-right"></div>
            </div>

            <div class="content">

                <div class="search">
                    <input class="search-content transparent" type="text" placeholder="Search..">
                </div>

                <div class="Specifications  mt-3">
                    <div class="fech">
                        <p class="transparent">lunes <br>8:30 <br>AM</p>
                    </div>

                    <div class="destino">
                        <p class="transparent">Medellin, COL, 25016</p>
                        <i class="fas fa-chevron-circle-down "></i>
                        <p class="transparent">Buenos Aires, ARG, 27052</p>
                    </div>
                    <div class="truck">
                        <i class="fas fa-truck-moving transparent mt-4"></i>
                    </div>
                    <div class="price">
                        <p class="transparent mt-4">$ 160.00</p>
                    </div>
                    <div class="cantidad">
                        <p class="margin-top-cant"><span class="num-cant"> 1</span></p>
                    </div>
                    <div class="ellipsis">
                        <i class="fas fa-ellipsis-v transparent "></i>
                    </div>
                </div>

                <div class="Specifications  mt-3">
                    <div class="fech">
                        <p class="transparent">lunes <br>8:30 <br>AM</p>
                    </div>

                    <div class="destino">
                        <p class="transparent">Dallas, EE.UU, 2698</p>
                        <i class="fas fa-chevron-circle-down "></i>
                        <p class="transparent">Bogota, COL, 27052</p>
                    </div>
                    <div class="truck">
                        <i class="fas fa-truck-moving transparent mt-4"></i>
                    </div>
                    <div class="price">
                        <p class="transparent mt-4">$ 300.00</p>
                    </div>
                    <div class="cantidad">
                        <p class="margin-top-cant"><span class="num-cant"> 1</span></p>
                    </div>
                    <div class="ellipsis">
                        <i class="fas fa-ellipsis-v transparent "></i>
                    </div>
                </div>

                <div class="Specifications  mt-3">
                    <div class="fech">
                        <p class="transparent">lunes <br>8:30 <br>AM</p>
                    </div>

                    <div class="destino">
                        <p class="transparent">Cali, COL, 25016</p>
                        <i class="fas fa-chevron-circle-down "></i>
                        <p class="transparent">Bacelona, ESP, 27052</p>
                    </div>
                    <div class="truck">
                        <i class="fas fa-truck-moving transparent mt-4"></i>
                    </div>
                    <div class="price">
                        <p class="transparent mt-4">$ 190.00</p>
                    </div>
                    <div class="cantidad">
                        <p class="margin-top-cant"><span class="num-cant"> 1</span></p>

                    </div>
                    <div class="ellipsis">
                        <i class="fas fa-ellipsis-v transparent "></i>
                    </div>
                </div>

                <div class="add-circle">
                    <i class="fas fa-plus-circle"></i>
                </div>

            </div>

            <!-- fin content -->
        </div>
        <!-- end grid -->

    </div>
    <!-- end container -->
</div>