/* You can add global styles to this file, and also import other style files */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "PtSans", sans-serif;
    background-color: #BDBDBD;
}

p {
    margin: 0;
    padding: 0;
}

.margin-all {
    margin-top: 1%;
}